<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <img src="https://img.icons8.com/cotton/80/000000/key--v2.png"/>
    <h1 class="display-3" style="font-family: 'Newsreader', serif;">Secrets</h1>
    <p class="lead" style="font-family: 'Reggae One', cursive;">Now you can share your secrets anonymously!!</p>
    <hr>
    <a style="font-family: 'Newsreader', serif;" class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a style="font-family: 'Newsreader', serif;" class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
